minimum_pre_commit_version: 1.7.0
repos:
- repo: local
  hooks:
  - id: golangci-lint
    name: golangci-lint
    description: Fast linters runner for Go.
    # Disabling Go module support is necessary to avoid it complaining about a missing go.mod file in the root
    entry: env GO111MODULE=off golangci-lint run --config=.golangci.pre-commit.yaml ./...
    language: system
    types: [go]
    pass_filenames: false

- repo: https://github.com/golangci/misspell
  rev: v0.6.0
  hooks:
    - id: misspell

- repo: https://github.com/ARMmbed/continuous-delivery-scripts.git
  rev: 2.5.0
  hooks:
  - id: licensing