go 1.25.6

use (
	./cache
	./charset
	./collection
	./collection/pagination
	./collection/queue
	./collection/stack
	./commonerrors
	./config
	./diodes
	./encoding
	./encryption
	./environment
	./field
	./filesystem
	./git
	./hashing
	./http
	./http/api
	./http/errors
	./http/headers
	./http/headers/tus
	./http/headers/useragent
	./http/headers/useragent/useragent
	./http/httptest
	./http/proxy
	./http/schemes
	./idgen
	./keyring
	./licensing
	./logs
	./logs/logrimp
	./logs/logstest
	./maps
	./mocks
	./parallelisation
	./platform
	./proc
	./ptr
	./reflection
	./resource
	./retry
	./safecast
	./safeio
	./semver
	./serialization
	./serialization/frontmatter
	./serialization/json
	./serialization/json/frontmatter
	./serialization/json/jsontest
	./serialization/maps
	./serialization/slice
	./serialization/xml
	./serialization/yaml
	./serialization/yaml/frontmatter
	./serialization/yaml/yamltest
	./sharedcache
	./signing
	./strings
	./subprocess
	./transaction
	./units
	./units/multiplication
	./units/size
	./url
	./validation
	./validation/jsonschema
	./value
)
